@use '@angular/material' as mat; 

mat-toolbar {
  display: flex;
  @include mat.elevation(12);
}

mat-icon {
  cursor: pointer;
  border-radius: 5px;
  @include mat.elevation(2);
}

.nav-item {
  transition: 0.3s;
}

.myname {
  margin-left: 1%;
}

.nav-item:hover {
  cursor: pointer;
  transform: scale(1.03);
  color: lightgray;
}

// ===============

/* Example media query for small screens (up to 600px wide) */
@media (max-width: 600px) {
  #resume, #aboutme, #music {
    display: none;
  }

  .myname {
    margin-left: 25%;
  }
}