@use '@angular/material' as mat; 

mat-toolbar {
  display: flex;
  justify-content: space-between;
  @include mat.elevation(12);
}

mat-icon {
  cursor: pointer;
  border-radius: 5px;
  @include mat.elevation(2);
}


.nav-item {
  transition: 0.3s;
}

.nav-item:hover {
  cursor: pointer;
  transform: scale(1.03);
  color: lightgray;
}