<mat-toolbar color="primary">

  <div>
    <mat-icon [matMenuTriggerFor]="appMenu" 
      matTooltip="menu"
    >menu</mat-icon>
  </div>

  <div class="nav-item" [routerLink]="['/']" style="margin-right: 73%;">Griffin Michalak</div>
  
  <div class="nav-item" [routerLink]="['/resume']">Resume</div>
  <div class="nav-item" [routerLink]="['/about']">About Me</div>
  
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/']">Home</button>
  <button mat-menu-item [routerLink]="['/resume']">Resume</button>
  <button mat-menu-item [routerLink]="['/about']">About Me</button>
</mat-menu>
