<mat-toolbar color="primary">

  <div>
    <mat-icon [matMenuTriggerFor]="appMenu" 
      matTooltip="menu"
    >menu</mat-icon>
  </div>
  
  <div class="nav-item myname" [routerLink]="['/']" >Griffin Michalak</div>
  
  <div style="position: absolute; right: 0; display: flex; margin-right: 2%;">
    <div id="resume" class="nav-item" [routerLink]="['/resume']">Resume</div> &nbsp;&nbsp;&nbsp;
    <div id="aboutme" class="nav-item" [routerLink]="['/about']">About Me</div> &nbsp;&nbsp;&nbsp;
    <div id="music" class="nav-item" [routerLink]="['/music']">Music</div>
  </div>
  
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/']">Home</button>
  <button mat-menu-item [routerLink]="['/resume']">Resume</button>
  <button mat-menu-item [routerLink]="['/about']">About Me</button>
</mat-menu>
