<div style="margin-left: 10%; margin-top: 3%; margin-right: 10%; text-align: center;">
    <h1 style="font-size: 30px;">About Me</h1>
    
    <div class="row">
        <div class="column">
          <img src="assets/png/pfp.jpeg" style="border-radius: 12px;" width="187.5px" height="250px" alt=""> <!-- 375 × 500 -->
        </div>
        <div class="column" style="text-align: left;">
          <h1>👋 Hello!</h1>
          <p>My name is Griffin Michalak, and I am a third year CS & AI student at Northeastern University.</p>
        </div>
    </div>

    <br><br>
    <div style="margin-left: 20%; margin-right: 20%;">
        <p>🎧 My Favorite Tunes as of Late...</p>
        <div style="display: flex;">
            <iframe style="border-radius:12px;" src="https://open.spotify.com/embed/playlist/37i9dQZF1Epj1g3DKtjMaO?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <iframe style="border-radius:12px;" src="https://open.spotify.com/embed/album/4VZ7jhV0wHpoNPCB7Vmiml?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
    </div>


</div>