<div style="margin-left: 10%; margin-top: 3%; margin-right: 10%; text-align: center;">
    <div class="mat-h1" style="font-weight: 800; font-size: 40px;">
        <p style="padding-bottom: 15px; font-weight: 500;"><b>About Me</b></p>
    </div>
    
    <div class="row" style="margin-left: 10%; margin-right: 10%;">
        <div class="column" style="height: auto;">
            <br>
          <img src="assets/png/pfp.jpeg" style="border-radius: 12px;" width="376px" height="500px" alt=""> <!-- 375 × 500 -->
        </div>
        <div class="column" style="text-align: left;">
          <br><br><br><br><br>
          <div class="mat-h1" style="font-weight: 800; font-size: 30px;">
            <p style="padding-bottom: 15px; font-weight: 500;"><b>👋 Hello!</b></p>
          </div>
          <p style="font-size: 18px; line-height: 25px;">I'm Griffin Michalak, an undergraduate student at Northeastern University. I'm pursuing a B.S. in Computer Science with a concentration in AI. I am part of Khoury College of Computer Science as well as the John Martinson Honors Program at Northeastern. I am originally from Sturbridge, MA, and have since moved to Boston. I am currently working as a Software Developer Intern at The Hanover Insurance Group in Worcester, MA.</div>
    </div>

    <!-- Organization -->
     <br>
    <div class="mat-h1" style="font-weight: 800; font-size: 30px;">
      <p style="padding-bottom: 15px; font-weight: 500;"><b>Organizations</b></p>
      <div>
        <p style="font-size: 10px;">Verizon, Hanover Insurance, Northeastern, NEC, MMEA, Mass Academy, WPI, Project 351, Code4Community, </p>
      </div>
    </div>

    <!-- Social Media -->
     <h1><b>Featured</b></h1>
     <div>
        <iframe 
          class="linkedin"
          src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7223673670131421184" 
          height="400" width="300" frameborder="0" allowfullscreen="" title="Embedded post">
        </iframe>

        <iframe 
          class="linkedin"
          src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7204112328638771202" 
          height="400" width="300" frameborder="0" allowfullscreen="" title="Embedded post">
        </iframe>

        <iframe 
          class="linkedin"
          src="https://www.linkedin.com/embed/feed/update/urn:li:share:7178735991573147649" 
          height="400" width="300" frameborder="0" allowfullscreen="" title="Embedded post">
        </iframe>
     </div>

</div>