<h1 style="font-size: 30px;">About Me</h1>

<div>
    <h3>🎧 My Favorite Tunes as of Late...</h3>
    <div style="display: flex;">
        <iframe style="border-radius:12px; width: 30%;" src="https://open.spotify.com/embed/playlist/37i9dQZF1Epj1g3DKtjMaO?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <iframe style="border-radius:12px; width: 30%;" src="https://open.spotify.com/embed/album/4VZ7jhV0wHpoNPCB7Vmiml?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
</div>